:host {
  display: block;
  height: 100%;
  min-height: 100%;
}
.apps-list {
  font-family: Arial;
  text-align: center;
  padding: 20px 0 0;
  height: 802px;
  min-height: 100%;
  color: yellow;
  background: url(../../assets/sp.png) 100%/100%  no-repeat ;
}

.apps-list-links {
  color: yellow;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px;
}

.apps-list-links a { color: white; }
